
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>MY SAFE SQUARE (CHOI, KANG)</title>

    <!-- Bootstrap core CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link href="css/cover.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="js/client.js"></script>

    <style id="style_form"></style>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#" onclick="movehome()">Home</a>
            <a id="report_btn" class="nav-link active" href="#">Report</a>
            <a id="report_view_btn" class="nav-link active" href="#">Board</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <div id="content_div">
        <main id="main" role="main" class="inner cover">
          <h1 class="cover-heading">My Safe Square</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <%
            if(flag==0){
        %>
            <button type="button" class="btn btn-lg btn-secondary" id="login_open_btn">Log In</button>
            <%
          }else{
      %>
              <%= name %>님 반갑습니다.
                  <input id="logout_btn" class="btn btn-danger" type="button" value="logout">
                  <%
          }
      %>
             
        <!-- Modal Button -->
        <div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Report</button></div>

          </p>
        </main>
      </div>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>

   
    <!-- Modal -->
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">

          </div>
        </div>
    </div>
    <!-- 홈으로 -->
    <script type="text/javascript">
      function movehome(){
        location.href ="/";
      }
    </script>
  </body>
</html>
